# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

apiKey: "AIzaSyDpYityKoCxR1M8y8KQJe2XuRZmPDPCOWk",
authDomain: "ainohyoushiki002.firebaseapp.com",
databaseURL: "https://ainohyoushiki002.firebaseio.com",
projectId: "ainohyoushiki002",
storageBucket: "ainohyoushiki002.appspot.com",
messagingSenderId: "131610869624",
appId: "1:131610869624:web:c1ca1947a8908f5b22128d"